<div class="second-banner" style="background-image: linear-gradient(-225deg, rgba(10, 10, 10, 0.4) 0%, rgba(10, 10, 10, 0.4) 50%), url(<%= asset_path 'main.jpg' %>);">

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">

        <div class="form-sign-up">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="row">
              <div class="col-xs-6">
                <%= f.input :first_name, autofocus: true %>
              </div>
              <div class="col-xs-6">
                <%= f.input :last_name %>
              </div>
            </div>
            <%= f.input :birthday, start_year: Date.today.year - 110, end_year: Date.today.year, selected: DateTime.parse(session[:birthday]) %>
            <div class="row">
              <div class="col-xs-8">
                <%= f.input :city %>
              </div>
              <div class="col-xs-4">
                <%= f.input :country %>
              </div>
            </div>
            <%= f.collection_radio_buttons :gender, [[true, 'Male'] ,[false, 'Female']], :first, :last, default: true %>
            <%= f.input :email, required: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
            <div class="form-actions">
              <%= f.button :submit, "Sign up", style: 'width: 100%;' %>
            </div>
          <% end %>
        </div>


      </div>
    </div>
  </div>

</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAO-v94CXGbYsJbMzdmsMCpfxuDD7vlcyY"></script>
<% end %>
