<%= render "shared/selection" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-7">
    <div class="index-dashboard">
      <div class="container-fluid">
          <div class="row">
            <% @users.each_with_index do |user, index| %>
              <% if (index+1)%4 == 0 %>
                </div>
                <div class="row margin-15">
              <% end %>
                <div class="col-xs-12 col-md-4">
                  <%= render partial: "shared/card", locals: { user: user } %>
                </div>
            <% end %>
          </div>
      </div>
    </div>
    </div>
    <div class="col-md-5">
      <div id="map" class="map-dashboard"></div>
    </div>
  </div>
</div>

<!-- CARD DESIGN -->

<div class="user-card">
  <%= link_to root_path do %>
    <div style="background-image: url(<%= asset_path('logo.png')%>);" class="user-card-photo" ></div>
  <% end %>
  <h4> Jean BON </h4>
  <p> Bayonne </p>
  <div class="user-toggle-button"></div>
  <div class="user-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ratione doloribus alias error ut quia eveniet, nostrum vel facere amet beatae suscipit dicta, iste expedita, possimus aliquam laudantium blanditiis minima.
  </div>
</div>

<div class="user-card">
  <%= link_to root_path do %>
    <div style="background-image: url(<%= asset_path('logo.png')%>);" class="user-card-photo" ></div>
  <% end %>
  <h4> Jean BON </h4>
  <p> Bayonne </p>
  <div class="user-toggle-button"></div>
  <div class="user-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ratione doloribus alias error ut quia eveniet, nostrum vel facere amet beatae suscipit dicta, iste expedita, possimus aliquam laudantium blanditiis minima.
  </div>
</div>

<script>
// 1. Selectors
const cards = document.querySelectorAll('div.user-card');


// 2. Functions
function toggleContent() {
  console.log(this)
};

// function toggleRotate(element) {
//   console.log(element.classList.includes("user-card"))
// }


// 3. Event Listeners
cards.forEach(card => card.addEventListener('click', toggleContent));

</script>





<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      var isDraggable = $(document).width() > 480 ? true : false;
      handler.buildMap({ provider: { scrollwheel: false, zoomcontrol: true,
                          draggable: isDraggable }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(8);
        }
      });
    });
  </script>
<% end %>
