<div>
  <div class="form-one">
    <%= simple_form_for :selection, url: selection_path, method: :get do |f| %>
      <%= f.input :birthdate, as: :date, start_year: Date.today.year - 110, end_year: Date.today.year, label: "Enter your birthday" %>
      <%= f.input :length, as: :integer %>
      <%= f.button :submit, 'Find your mates!', class: "btn btn-success" %>
    <% end %>
  </div>
</div>


<div class="fluid-container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-4">
        <%= user.first_name %>
      </div>
    <% end %>
  </div>
</div>

