<div class="main-banner" style="background-image: linear-gradient(-225deg, rgba(10, 10, 10, 0.4) 0%, rgba(10, 10, 10, 0.4) 50%), url(<%= asset_path 'main.jpg' %>);">

    <div class="form-one", style="text-align: center; color: white;">
      <h3><%= t('home.tagline') %></h3>
      <%= simple_form_for :birthday, url: birthday_path, method: :get, html: { class: 'form-inline' } do |f| %>
        <%= f.input :birthdate, as: :date, start_year: Date.today.year - 110, end_year: Date.today.year, label: false %>
        <%= f.button :submit, 'Go!', class: "btn btn-success" %>
      <% end %>
    </div>
</div>
