<div class="main-banner" style="background-image: linear-gradient(-225deg, rgba(10, 10, 10, 0.4) 0%, rgba(10, 10, 10, 0.4) 50%), url(<%= asset_path 'main.jpg' %>);">

    <div class="form-one">
      <%= simple_form_for @birthday do |f| %>
        <%= f.input :birthdate, start_year: Date.today.year - 110, end_year: Date.today.year, label: "Day of birth" %>
        <%= f.input :birthtime, label: "Time of birth" %>
        <%= f.button :submit, 'Find your blabla' %>
      <% end %>
    </div>

</div>

