
<br>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= simple_form_for @post do |f| %>
        <%= f.input :content, autofocus: true, label: "Talk to your crew!" %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>


      <br>

      <h3>Newsfeed</h3>
      <hr>

      <% @posts.each do |post| %>

        <h4><%= post.user.first_name.capitalize + ' ' + post.user.last_name.upcase + ' said:' %></h4>
        <div class="content">
          <p><%= post.content %></p>
          <% if post.user == current_user %>
            <%= link_to post, method: :delete do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
        <hr>
      <% end %>

    </div>
  </div>
</div>
